// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// A modern alternative to CSS resets
@import '~normalize.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-blackout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
}

.bg-light-image {
    background: url('/img/bg-light-4812.png')
}

.bg-dark-image {
    background: url('/img/bg-dark-4800.png')
}
